# game endpoint
tornado==3.1
sockjs-tornado==1.0.0
Jinja2==2.7

# TODO: some problem with Python 3.3. Now I'm using my fork.
# toredis==0.1.2
-e git+git://github.com/mrjoes/toredis.git#egg=toredis

# stats endpoint
Django==1.5.1
redis==2.7.6
hiredis==0.1.1