<!doctype html>
<html>
	<head>
		<title>Gomoku</title>
		<link rel="shortcut icon" type="image/png" href="/static/favicon.png" />

		<script type="text/javascript" src="http://cdn.sockjs.org/sockjs-0.3.4.min.js"></script>
		<script type="text/javascript" src="http://cdn.sockjs.org/websocket-multiplex-0.1.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="/static/scripts/main.js"></script>
	</head>
	<body>
		<div id="username">
			<b>Username:</b><br>
			<input type="text" size="40" />
			<input type="submit" />
			<div class="error">Please, choose a username.</div>
		</div>
	</body>
</html>