<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Gomoku</title>

	<link rel="shortcut icon" type="image/png" href="/static/favicon.png" />
	<link rel="stylesheet/less" type="text/css" href="/static/styles/app.less">

	<script type="text/javascript" src="/static/scripts/vendor/sockjs-0.3.4.min.js"></script>
	<script type="text/javascript" src="/static/scripts/vendor/websocket-multiplex-0.1.js"></script>
	<script type="text/javascript" src="/static/scripts/vendor/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="/static/scripts/vendor/less-1.4.2.min.js"></script>
	<script type="text/javascript" src="/static/scripts/vendor/mustache-0.7.2.js"></script>

	<script type="text/javascript" src="/static/scripts/app.js"></script>
</head>
<body>
	<div id="app">
		<div id="stats"></div>
		<div id="pages">
			<div id="error"></div>
			<div id="nickname"></div>
			<div id="games"></div>
			<div id="details"></div>
			<div id="game"></div>
		</div>
	</div>

	<!-- Mustache templates -->
	{% raw %}
	<script id="tpl-stats" type="text/template">
		<div id="stats-data"></div>
		<button id="stats-toggle" title="Toggle statistics" type="button">Toggle</button>
	</script>

	<script id="tpl-stats-data" type="text/template">
		<div>
			{{#data}}
			<table class="table">
				<thead>
				<tr>
					<th>Name</th>
					<th>Quantity</th>
					<th>Wins</th>
					<th>Losses</th>
					<th>Draws</th>
				</tr>
				</thead>
				<tbody>
				{{#loop}}
				<tr>
					<td>{{player}}</td>
					<td>{{quantity}}</td>
					<td>{{wins}}</td>
					<td>{{losses}}</td>
					<td>{{draws}}</td>
				</tr>
				{{/loop}}
				</tbody>
			</table>
			{{/data}}
			{{^data}}
			<p>No statistics :(</p>
			{{/data}}
		</div>
	</script>

	<script id="tpl-error" type="text/template">
		<ul>
			{{#.}}
			<li>{{.}}</li>
			{{/.}}
		</ul>
	</script>

	<script id="tpl-nickname" type="text/template">
		<div class="page">
			<label for="nickname-username">Nickname</label>
			<input id="nickname-username" type="text" placeholder="Type your nickname…">
		</div>
	</script>

	<script id="tpl-games" type="text/template">
		<div class="page">
			<fieldset>
				<label for="games-choose">Choose the Game</label>
				<div id="games-choose-container"></div>
				<div>
					<button id="games-join" type="button" class="btn">Join</button>
				</div>
			</fieldset>
			<fieldset>
				<button id="games-create" type="button" class="btn">Create</button>
			</fieldset>
		</div>
	</script>

	<script id="tpl-games-choose-container" type="text/template">
		{{#data}}
		<select id="games-choose" size="10">
			{{#loop}}
			{{#first}}
				<option value="{{game_id}}" selected="selected">{{title}}</option>
			{{/first}}
			{{^first}}
				<option value="{{game_id}}">{{title}}</option>
			{{/first}}
			{{/loop}}
		</select>
		{{/data}}
		{{^data}}
		<select id="games-choose" size="8" disabled>
			<option value="">No games :(</option>
		</select>
		{{/data}}
	</script>

	<script id="tpl-details" type="text/template">
		<div class="page">
			<fieldset>
				<label for="details-color">Color (Black plays first)</label>
				<select id="details-color" tabindex="1">
					<option value="black">Black</option>
					<option value="white">White</option>
				</select>

				<label for="details-dimensions">Dimensions</label>
				<input id="details-dimensions" type="text" value="3" tabindex="2">

				<label for="details-lineup">Stones for a win</label>
				<input id="details-lineup" type="text" value="3" tabindex="3">

				<div>
					<button id="details-create" type="button" class="btn" tabindex="4">Create</button>
				</div>
			</fieldset>
		</div>
	</script>

	<script id="tpl-game" type="text/template">
		<div class="page">
			<div id="game-note"></div>
			<div id="game-field">
				{{#.}}
				<div data-coordinates="{{.}}"></div>
				{{/.}}
			</div>
		</div>
	</script>
	{% endraw %}
	<!-- Mustache templates -->

</body>
</html>